<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      {{ msg }}

      <ul>
        <li v-for="(aa,i) in arr" :key="aa.id">
          <input
            type="checkbox"
            :id="aa.id"
            v-model="aa.chk"
            @change="kk(aa.id)"
          />
          <span>品牌：{{ aa.name }}</span>
          <span>单价是：{{ aa.price }}元</span>
          数量是：<input
            type="text"
            v-model="aa.num"
            @change="ipt(aa.num,aa.id)"
            @focus='focus(aa.id)'
            @blur='blur(aa.id)'
          />
        </li>
      </ul>
      <p>总价是：{{ sumpic }}元</p>
    </div>
    <script type="text/javascript">
      var vm = new Vue({
        el: "#app",
        data: {
          msg: "Hello Vue",
          total: 0,
          sumpic: 0,
          arr: [
            {
              id: 1,
              name: "nick",
              price: 50,
              num: 2,
              chk: false
            },
            {
              id: 2,
              name: "adi",
              price: 60,
              num: 3,
              chk: false
            },
            {
              id: 3,
              name: "anta",
              price: 70,
              num: 4,
              chk: false
            },
            {
              id: 4,
              name: "step",
              price: 80,
              num: 5,
              chk: false
            },
            {
              id: 5,
              name: "361",
              price: 90,
              num: 6,
              chk: false
            }
          ]
        },
        methods: {
          kk(id, num) {
            let subpic = 0;
            num
              ? (subpic =
                  Number(num - this.arr[id - 1].num) *
                  Number(num - this.arr[id - 1].price))
              : (subpic =
                  Number(this.arr[id - 1].num) *
                  Number(this.arr[id - 1].price));
            if (this.arr[id - 1].chk) {
              this.sumpic = this.sumpic + subpic;
            } else {
              this.sumpic = this.sumpic + subpic * -1;
            }
          },
          ipt(num, id) {
            console.log(num, "---id:" + id);
            if (this.arr[id - 1].chk) {
              this.kk(id, num);
            }
          },
          focus(id) {
            if (this.arr[id - 1].chk) {
                this.arr[id - 1].chk = false;
                this.kk(id);
                console.log(this.arr[id - 1].chk);
            }
          },
          blur(id){
            if (!this.arr[id - 1].chk) {
                this.arr[id - 1].chk = true;
                this.kk(id);
                console.log(this.arr[id - 1].chk);
            }
          }
        },
        computed: {}
      });
    </script>
  </body>
</html>
